<html>
<head>
<script src="control.js" type="module" defer></script>
<title>Control</title>
</head>
<body>

<div id="setup">
  <div id="players">Players:</div>
  <div>
    <input type="text" id="player" name="player" size="20"/>
    <button type="button" id="add">Add Player</button>
  </div>

  <div>
  <button type="button" id="start">Start Game</button>
  </div>
</div>

<div id="scores" style="display: none">
  <div id="inputscores"></div>
  <div>
    <button type="button" id="post">Post Round</button>
  </div>
</div>

<div style="padding: 30px">
<button type="button" id="reset">Reset</button>
</div>

</body>
</html>
