<html>
<head>
<script src="main.js" type="module" defer></script>
<title>Game Board</title>
<style>
html {
  font-size: 24px;
}
#gameboard {
  text-align: center;
  margin: auto;
  width: max-content;
  padding: 10px;
}
#ss {
  padding: 10px;
  display: none;
}
.went-out {
  color: #0f0;
}
.went-out-first {
  text-decoration: underline;
}
.in-the-lead {
  background-color: #0f04;
}
table {
  font-size: 44px;
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #000;
}
th {
  border-bottom: solid 1px #000;
  padding: 5px 10px;
}
td {
  padding: 2px 60px;
  text-align: right;
}
.inner-score {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}
.bottom-row {
  border-bottom: solid 1px #000;
}
</style>
</head>
<body>

<div id="left"></div>
<div id="gameboard">
<h1>Five Crowns</h1>

<div id="round" class="round"></div>
<div id="dealer" class="dealer"></div>
<div id="scores"></div>

<div id="ss">
<button type="button" id="screenshot">Screenshot</button>
</div>
</div>
<div id="right"></div>

</body>
</html>
